.posts-cont {
    background-color: rgb(0, 0, 0);

    .title-post {
        color: #ff0000;
        font-weight: 700;
        text-transform: uppercase;
    }

    .text-post {
        color: white;
    }

    img {
        width: 50%;
    }
}
