.posts-cont {
    background-color: #ccffcc;

    .title-post {
        color: #ff80cc;
        font-weight: 700;
        text-transform: uppercase;
    }

    .text-post {
        color: #000000;
    }

    img {
        width: 50%;
    }
}
